/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 0 20%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 3% 4%;
  background-color: #111;
  color: #f5f5f5;
}

.nav .header p {
  font-size: 20px;
  padding: 6px 0;
  color: #d5d5d5;
}

.menubar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #222;
  padding: 11px 18px;
  border-radius: 8px;
}

.menubar li {
  list-style-type: none;
}

.menubar li a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  transition: 0.15s all ease-in-out;
}

.menubar li a:hover {
  color: #d9d9d9;
}

main {
  border: 2px solid #ccc;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 12px;
}

#announcement-header {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 12px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 1% 2%;
  background-color: #d9d9d9;
  color: #f5f5f5;
}

.search-wrapper label {
  color: #111;
  font-size: 12px;
  cursor: pointer;
}

.search-wrapper input {
  width: 80%;
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.search-wrapper input:focus {
  background-color: #f5f5f5;
}

.search-wrapper button {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  color: #f5f5f5;
  background-color: #111;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.search-wrapper button:hover {
  background-color: #333;
}

.announcement-list {
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  padding: 12px 16px;
}

.announcement-item {
  font-size: 12px;
  color: #111;
  background-color: #d9d9d9;
  padding: 14px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s all linear;
}

.announcement-item:hover {
  background-color: #d1d1d1;
}

.announcement-item h1 {
  font-size: 22px;
}

.college-list {
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  padding: 12px 16px;
}

.college-item {
  font-size: 12px;
  color: #111;
  background-color: #d9d9d9;
  padding: 14px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s all linear;
}

.college-item:hover {
  background-color: #d1d1d1;
}

.college-item h1 {
  font-size: 22px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background-color: #111;
  color: #f5f5f5;
  text-align: center;
}

footer #about-apps h1 {
  font-size: 20px;
  font-weight: 500;
}

footer .info-footer {
  font-size: 14px;
  margin-top: 8px;
  color: #d9d9d9;
}
